<div class="container">
 <h1 class="jumbotron-heading">Album example</h1>
<div class="container">
 <div class="row">
 <div class="col">
 <p> </p>
 </div>
 <div class="col">
 <p> TEST YOOOOO</p>
 </div>
 </div></div>